<div class="loading-wrapper">
  <img class="loading" src="/loading.gif" alt="loading...">
</div>
<div class="stills-carousel">
  <% @stills.each do |s| %>
    <div class="still"><img src="<%= s.url %>" alt="<%= s.title %>"></div>
  <% end %>
</div>