<div class="stills-carousel">
  <div class="still"><img src="https://cf.dropboxstatic.com/static/images/brand/glyph@2x-vflJ1vxbq.png" alt=""></div>
  <div class="still"><img src="http://extension.usu.edu/innovate/images/uploads/dropbox-logo.png" alt=""></div>
  <div class="still"><img src="http://www.oregonscenics.com/s-n-p-ci-wide.jpg" alt=""></div>
</div>