<div class="overlay-wrapper">
  <div class="overlay-content">
    <h5 class="overlay-title"><%= content.title %></h5>
    <p class="overlay-short-description"><%= content.short_description %></p>
    <table>
      <%# placeholder.each do |i| %>
      <!-- <tr>
        <td></td>
        <td></td>
      </tr> -->
      <%# end %>
    </table>
  </div>
</div>