<div class="loading-wrapper">
  <img class="loading" src="/loading.gif" alt="loading...">
</div>
<div class="films-carousel">
  <% @films.each do |f| %>
    <div class="film" id="<%= f.url %>"></div>
  <% end %>
</div>