<div class="copy">
  <h1>Robert is a Badass</h1>
  <img class="left" src="http://placehold.it/200x200">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <img class="right" src="http://placehold.it/250x250">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
</div>
