<div class="copy">
  <h1>Robert is a Badass</h1>
  <%= image_tag "rob1.jpg", class: "left", style: "width: 200px"%>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <%= image_tag "rob2.jpg", class: "right", style: "width: 250px"%>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam minus, sapiente possimus similique voluptas sint fugit laborum nemo ipsum facilis doloremque atque earum nisi, mollitia saepe fugiat consequatur, harum minima.</p>
</div>
