<div class="copy">
  <p>My creative life over the last fifteen years or so has been divided into two twin loves: the world of film and the world of sound.</p>

  <%= image_tag "rob1.jpg", class: "left", style: "width: 200px"%>
  <h2>Film </h2>

  <p>In the film section of this website I have selected some recent or notable films that I have been involved with and cherish for one reason or another. This is by no means all the work that I have done with this medium. I have excluded a lot of my commercial work, earlier and smaller works. I count myself lucky as a film maker. I have been given the opportunity to work with many film makers on numerous projects over the years in lots of different genres and in many different capacities including writing/directing, cinematography, sound and editing,</p>

  <p>The films I have selected for this website are special to me for various reasons: Three Dragon tenors was my first longer form documentary and was immediately accepted for broadcast by the ABC which of course surprised and delighted me.</p>

  <p>An Invitation to Ruin really celebrates the art of my good friend and collaborator Ross Bolleter who has coaxed an incredible array of sound out of instruments generically thought of as a single instrument - a piano - but which in fact, in ruin , descend into a multiplicity of instruments.</p>

  <p>Remembering Sensei marks my devotion to the great art of Aikido. I wanted to make something personal, that recognised an important part of the Aikido world - righteous devotion to one’s teacher. Sugano Sensei was a fitting subject.</p>

  <p>Homeland Dreaming, one of my latest projects, was a collaboration with my fellow film maker Denise Groves who directed the film. I have made several films with her including My Nan and the Yandi which appeared on the ABC in the Message Sticks series. Both Denise and I are captured by the idea of film as art and also films in which nothing much happens! It raises the question “What is happening when nothing is happening” celebrated in one of my favourite books, Tunnel Visions.</p>

  <p>My Nan and the Yandi was my first film with Denise Groves. I shot it on the second camera I got, a JVC HDV camera which, though appalling in many ways e.g. dynamic range,  still delivered the goods. In some ways the  history of my films is the history of my growing fascination with cinematography and each film was shot on a different  and improved camera commencing with the execrable Canon XL 1 (Three Dragon Tenors) to the rather wonderful Red Epic X (Remembering Sensei) that I now own and shoot on.</p>

  <p>The final three films are music videos which I made with Andrew Nowrajee in a very fruitful collaboration over several years. We made excellent films with very limited resources and it was an exciting time for me. </p>

  <p>I am currently starting a series of short films in collaboration with fellow film makers in Denmark WA where I now live. </p>

  <h2>Sound</h2>
  <%= image_tag "rob2.jpg", class: "right", style: "width: 200px"%>

  <p>I have always loved the world of music and sound. It informs my spiritual practice which is Sufism.</p>

  <p>This used to be my main interest but in recent years has been subsumed by my interest in film. Again I have been lucky having had the opportunity over the years to record some great artists in all sorts of settings.</p>

  <p>My work with Ross Bolleter involved recording ruined pianos out doors in the most difficult environments imaginable. I used a very sophisticated remote record rig which I still have.</p>

  <p>I have recorded and mastered several CDs for artists. Quite a few of my tracks appeared on Ross’s CDs over the years.</p>

  <p>These days I record foley, voice overs for my films and also solo performers and small acoustic ensembles.</p>
</div>
