<div class="copy">
  <h1>Contact</h1>
  <img class="left" src="http://placehold.it/300x300">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vitae, voluptatum ducimus reiciendis quod, ea culpa nemo eligendi officia, velit cumque soluta quae magni ab dicta accusantium. Nobis aut, placeat?</p>
  <p><a href="mailto:rcastiglione@mac.com">rcastiglione@mac.com</a><p>
  <p><a href="tel:0411849021">0411 849 021</a></p>
</div>
