<div class="copy">
  <h1>Contact</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vitae, voluptatum ducimus reiciendis quod, ea culpa nemo eligendi officia, velit cumque soluta quae magni ab dicta accusantium. Nobis aut, placeat?</p>
</div>