<div class="loading-wrapper">
  <img class="loading" src="/loading.gif" alt="loading...">
</div>
<div class="sounds-carousel">
  <% @sounds.each do |sound| %>
    <div>
      <%= render partial: "/shared/information_overlay", locals: {content: sound} %>
      <div class="sound" id="<%= sound.url %>"></div>
    </div>
  <% end %>
</div>
