<div class="loading-wrapper">
  <img class="loading" src="/loading.gif" alt="loading...">
</div>
<div class="sounds-carousel">
  <% @sounds.each do |s| %>
    <div class="sound" id="<%= s.url %>"></div>
  <% end %>
</div>
