#nav-main {
  border-bottom: solid 1px white;
  background-color: #000;
}

#nav-main ul {
  margin-left: 0;
  padding: 0;
}

#nav-main li {
  display: inline;
  list-style: none;
  padding-left: 3%;
}

#nav-main h2 {
  display: inline;
  padding: 0 2%;
}

#nav-main a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #AAA;
}

#nav-main a:hover {
  color: #EEE;
}

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  border-top: 0;
}
