.overlay-wrapper {
  position: fixed;
  width: 100vw;
  line-height: 100vh;
  z-index: 1;
  animation-duration: .5s;
  animation-name: animateShow;
}

.overlay-content {
  width: 25vw;
  height: 90vh;
  margin: 0 0 0 69vw;
  line-height: 1.5em;
  padding: 3vh 3vw;
  background-color: #EEE;
  color: #000;
  opacity: 0.9;
}

.overlay-title {
  display: inline;
  line-height: 1em;
  font-size: 3em;
}

.overlay-short-description {
  font-size: 1em;
  font-style: italic;
}

.overlay-content table {
  border: none;
  font-size: .8em;
}

.overlay-content table tr td {
  border: none;
  padding-right: 2em;
}

.not-displayed {
  display: none;
}

.hidden {
  animation-duration: .5s;
  animation-name: animateHide;
  bottom: 100vh;
}

@keyframes animateHide {
  from {
    bottom: 0;
  }

  to {
    bottom: 100vh;
  }
}

@keyframes animateShow {
  from {
    bottom: 100vh;
  }

  to {
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .overlay-content {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .overlay-content h5,
  .overlay-content p,
  .overlay-content table {
    margin: 5vh 5vw;
  }

  .overlay-title {
    display: block;
    padding-top: 5vh;
    margin-top: 0 !important;
  }
}
