<nav id='nav-main'>
  <ul>
    <li>
      <h2>ROBERT CASTIGLIONE</h3>
    </li>
    <li>
      <a href="/">FILM</a>
    </li>
    <li>
      <a href="/sounds">SOUND</a>
    </li>
    <li>
      <a href="/stills">STILLS</a>
    </li>
    <li>
      <a href="/about">ABOUT</a>
    </li>
    <li>
      <a href="/contact">CONTACT</a>
    </li>
  </ul>
</nav>
