<nav id='nav'>
  <ul id='nav-main'>
    <li>
      <h2>ROBERT CASTIGLIONE</h3>
    </li>
    <li>
      <a href="/">FILM</a>
    </li>
    <li>
      <a href="/sounds">SOUND</a>
    </li>
    <li>
      <a href="/stills">STILLS</a>
    </li>
    <li>
      <a href="/about">ABOUT</a>
    </li>
    <li>
      <a href="/contact">CONTACT</a>
    </li>
  </ul>
  <div id='nav-mobile'>
    <div id='hamburger'>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h1>ROBERT CASTIGLIONE</h1>
  </div>
  <div id="overlay-button"><img class='front' src="/info-light.png" alt="info"><img class='back' src="/info-lightest.png" alt="info"></div>
</nav>
<ul id='mobile-dropdown'>
    <li>
      <a href="/">FILM</a>
    </li>
    <li>
      <a href="/sounds">SOUND</a>
    </li>
    <li>
      <a href="/stills">STILLS</a>
    </li>
    <li>
      <a href="/about">ABOUT</a>
    </li>
    <li>
      <a href="/contact">CONTACT</a>
    </li>
</ul>
